@import "tailwindcss";

@theme {
    --color-common-black: #121212;
    --color-common-red: #EC0000;
    --color-gray-20: #F4F4F5;
    --color-light-gray-100: #F1F1F1;
    --color-light-purple-100: #F0EBFF;
    --color-light-purple-disable: #D6C2FD;
    --color-light-purple-able: #7C35FF;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    75% {
      transform: translateX(10px);
    }
}

.animate-shake {
    animation: shake 0.3s ease-in-out;
}

html, body {
    width: 100%;
    height: 100%;
}